@import "tailwindcss";

@theme {
  --font-sans: var(--font-fredoka), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-darumdrop: var(--font-darumdrop), cursive;
  --font-fredoka: var(--font-fredoka), sans-serif;

  --color-dh-orange: #D69E66;
  --color-dh-yellow: #FFDEA9;
  --color-secondary: #ca823a;
  --color-background: #FFF7E3;
  --color-dh-blue: #57A3FF;
  --color-dh-border: #FFE0B0;
  --color-dh-gold: #97591B;
  --color-dh-grey: #DADADA;
  --color-dh-brown: #766060;
  --color-background-hover: #f4e79e;
  --color-brown: #766060;
  --color-dh-beige: #FFF5F5;
  --color-dh-newletter-brown: #C08080;
  --color-dh-mauve: #C89D9D;
}