@import "tailwindcss";

@theme {
  --font-sans: var(--font-fredoka), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-funky: var(--font-funky), cursive;
  --font-fredoka: var(--font-fredoka), sans-serif;

  --color-secondary: #ca823a;
  --color-background: #FFF7E3;
  --color-dh-blue: #57A3FF;
  --color-dh-border: #FFE0B0;
  --color-dh-gold: #CA823A;
  --color-background-hover: #f4e79e;
}